---
import { AstroFont }  from "astro-font";
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
import Nav from "../components/Nav.astro";

type maxBodyWidth = 'md:max-w-[1100px]' | 'md:max-w-[850px]'
interface Props {
	title: string;
	maxBodyWidth: maxBodyWidth;
}
const { title, maxBodyWidth } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgColor">
<head>
	<meta charset="UTF-8" />
	<meta
		name="description"
		content="A minimal personal portfolio website made with Astro, React and Tailwind CSS"
	/>
	<meta name="viewport" content="width=device-width" />

	<Metadata
		title={title}
		description="A minimal personal portfolio website made with Astro, React and Tailwind CSS"
		image={`${import.meta.env.SITE}/og.png`}
		canonicalUrl={import.meta.env.SITE}
		type="website"
	/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<AstroFont
		config={[
			{
				name: "Satoshi",
				src: [
					{
						style: "normal",
						weight: "400 500 600 700 800 900",
						path: "./public/fonts/Satoshi-Variable.woff2",
					},
				],
				preload: true,
				display: "swap",
				selector: "body",
				fallback: "sans-serif",
			},
			{
				name: "Instrument-Serif",
				src: [
					{
						style: "normal",
						weight: "400",
						path: "./public/fonts/InstrumentSerif-Regular.ttf",
					},
				],
				preload: true,
				display: "swap",
				selector: "body",
				fallback: "serif",
			},
		]}
	/>
</head>
<body
	class=`mx-auto my-8 max-w-[400px] px-4 font-sans text-body selection:bg-primary selection:text-hoverColor md:my-16 md:px-36 ${maxBodyWidth}`>
	<Nav />
	<slot />
	<Footer />
</body>
</html>